
<!-- <%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #007bff; padding: 20px;">
    <h1 style="color: rgb(255, 255, 255); font-weight: bold;">Your Value is <%= value %> </h1>
</div>


<%- include('partials/footer') %> -->
<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #007bff; padding: 20px;">
    <h1 class="title">Your Value is</h1>
    <h2 class="value"><%= value %></h2>
</div>

<%- include('partials/footer') %>

